<div class="ScssColorCardTool">
  <div class="container" id="app">
    <h1>Sass 變數色卡網頁工具</h1>
    <hr/>
    <table class="row" width='100%'>
      <td width='25%'>
        <textarea v-model='colorSetting'></textarea>
      </td>
      <td width='70%'>
        <ul class="row">
          <li class="col-sm-4" v-for='card in colorCards'>
            <table class="colorCards" width='100%'>
              <tr>
                <td>
                  <div class="block" :style='card.colorCSS'></div>
                  <div class="info">
                    <div class="name">{{card.name}}</div>
                    <div class="code">{{card.color}}</div>
                  </div>
                </td>
              </tr>
            </table>
          </li>
        </ul>
      </td>
    </table>
    <a href="http://www.ifreesite.com/color/">> 色碼查詢</a>
  </div>
</div>
