@import "./_reset-src.scss";

$colorLightBlue: #D4EBE8;
$colorDarkBlue: #4FBDBC;
$colorWhite: white;
$colorYellow: #F4DF38;
$colorOrange: #F4A371; 

@mixin size($w,$h:$w) {
  width: $w;
  height: $h;
}

*, *:before, *:after {
  border: solid 1px black !important;
}

ul,li {
  list-style: none;
  padding: 0;
}

.timeLine {
background-color: $colorLightBlue;
@include size(100%);

  >#app {
    display: flex;
    align-items: center;
    justify-content: center;

    >.timeLine {
      height: 100vh;
      width: 6px;
      background-color: rgba($colorWhite, $alpha: 0.4);
      padding-top: 40px;
    }
  }
}

.dialogWrapper {
  height: 160px;
  position: relative;

  &:before {
    content: '';
    display: block;
    @include size(20px);
    border: solid 5px white;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-40%);
  }
  
  &:nth-child(2n){
    .dialog {
      right: 40px;
      left: initial;
    }
  }

  &:nth-child(2n+1){
    transform-origin: 0% 20px;

    .dialog {
      left: 40px;

      &:before {
        left: -10px;
      }
    }
  }
}

.dialog {
  background-color: #fff;
  padding: 15px 20px;
  cursor: pointer;


  border-radius: 5px;
  box-shadow: 15px 15px $colorDarkBlue;
  width: 250px;
  position: absolute;

  left: 0;
  top: -10px;

  &:before {
    content: '';
    display: block;
    @include size(20px);
    border-radius: 3px;
    position: absolute;
    right: -10px;
    background-color: $colorWhite;
    transform: rotate(45deg);
  }

  &:hover {
    transform: translate(-10px, -10px);
    box-shadow: 20px 20px $colorDarkBlue;
  }

  >.year {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 2px;
  }

}

button.initial {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: $colorDarkBlue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}
