<div class="timeLine">
  <div id="app">
    <button class="initial" @click='initial'>插入資料</button>
    <transition-group tag='ul' name='fade' class="timeLine">
      <li class="dialogWrapper" v-for='(l,id) in logs' :key="l" :style='{"transition-delay":id/2+"s"}'>
        <div class="dialog">
          <h3 class="year">
            <div class="decorationBar"></div>
            {{l.year}}
          </h3>
          <ul class="content">
            <li v-for='c in l.content'>
              {{c.month}} 月 {{c.tag}}
            </li>
          </ul>
        </div>
      </li>
    </transition-group>
  </div>
</div>
